{% extends 'base.html' %}

{% block content %}

<head>
    <style>
        .flash-messages {
    list-style-type: none;
    padding: 0;
}

.flash-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.flash-message.success {
    background-color: #c3e6cb;
    color: #155724;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
}

    </style>
</head>
    <form method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{ app.name }}" required>

        <label for="type">Type</label>
        <input type="text" id="type" name="type" value="{{ app.type }}" required>

        <button type="submit">Update</button>

        <!-- Check button -->
        <button type="submit" name="action" value="Check" class="btn btn-info">Check</button>

        <!-- Stop button -->
        <button type="submit" name="action" value="Stop" class="btn btn-danger">Stop</button>

        <!-- Start button -->
        <button type="submit" name="action" value="Start" class="btn btn-success">Start</button>
    </form>

    <!-- URL Viewing button -->
    <td><a href="{{ url_for('get_app_url', id=app._id) }}" class="btn btn-success">View URL</a></td>  <!-- Assuming app.url has the URL -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li class="flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% endblock %}
