<!DOCTYPE html>
<html>
<head>
  <title>Upload Files</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Upload Files</h1>

  <!-- File upload form -->
  <form method="POST" action="/apps/{{ app.id }}/upload" enctype="multipart/form-data">
    <label for="website_file">Select File:</label>
    <input type="file" id="website_file" name="website_file" required>
    <button type="submit">Upload File</button>
  </form>

</body>
</html>
